@model IdentityRole

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<label asp-for="Id">Id</label>
<input asp-for="Id" type="text" readonly class="form-control" disabled />
<br />

<label asp-for="Name">User Name</label>
<input asp-for="Name" type="text" class="form-control" disabled />
<br />
<br />
