@model ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


    <label asp-for="Id">Id</label>
    <input asp-for="Id" type="text" readonly class="form-control" disabled />
    <br />

    <label asp-for="UserName">User Name</label>
    <input asp-for="UserName" type="text" class="form-control" disabled />
    <br />

    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="text" class="form-control" disabled />
    <br />
